  <div class="row" style="position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;background-color: lightgrey;overflow: hidden;">
  <div class="form-simple" style="opacity:0.9" class="needs-validation ml">

  <mdb-card style="margin-top:80px;margin-left:220px;margin-right:155px;margin-bottom: 90px">
    <div class="header pt-1 grey lighten-2" style="height: 65px;">

      <div class="row d-flex justify-content-start">
        <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5" style="font-family:lucida grande;">Get Patient Records
        </h3>
        
      </div>

    </div>

 <mdb-card-body class="mx-4 mt-4" style="height:380px">
<div class="col-12 d-flex justify-content-center">
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <div class="col-12">From Date: &nbsp;&nbsp;</div>
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
        <div class="input-group-append pr-5">
          <button (click)="d.toggle()" type="button">
             <span class="fa fa-calendar"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="col-12">To Date: &nbsp;&nbsp;</div>
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp1" [(ngModel)]="model1" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d1="ngbDatepicker">
        <div class="input-group-append">
          <button (click)="d1.toggle()" type="button">
             <span class="fa fa-calendar"></span>
          </button>
        </div>
      </div>
    </div>
  </form>

  <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
    <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
          [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
      {{ date.day }}
    </span>
  </ng-template>
</div>
<div class="col-12 d-flex justify-content-center mb-4 mt-5">
  <button type="submit" mdbBtn color="success" block="true" class="col-3 z-depth-2">Submit</button>
</div>
</mdb-card-body>
</mdb-card>
</div>
</div>

